/* basic styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

input, button, textarea, select {
    font-family: 'Poppins', sans-serif;
}

/* login-signup styles */

.form {
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.form::-webkit-scrollbar {
    display: none;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.label {
    font-size: 16px;
    color: #000;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-field {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.input-field:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.3);
}

.button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}

.link-button {
    background-color: transparent;
    color: #28a745;
    font-size: 14px;
    padding: 0;
    border: none;
    transition: color 0.3s ease;
}

.link-button:hover {
    color: #1e7e34;
    cursor: pointer;
}

.resturant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../../public/resturant-bg.png);
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;         
}

.text-center {
    font-size: 14px;
}

/* footer  */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

/* global media query */
@media (max-width: 768px) {
    .resturant-container {
        padding: 20px;
    }
}